# Desafio_FIESC: Agente Industrial Inteligente

Neste notebook iremos:
1. Conectar ao SQLite
2. Definir parser NL ‚Üí SQL
3. Testar consultas em linguagem natural

### A seguir, um diagrama de alto n√≠vel da solu√ß√£o, demonstrando como os componentes interagem:

flowchart TD
  %% Usu√°rio interage com a interface
  U[Usu√°rio] -->|Faz pergunta NL| UI[Front-end (Streamlit/Notebook)]

  %% UI encaminha para o parser
  UI -->|Pergunta| Parser[Camada de Parsing NL‚ÜíSQL]

  %% Parser usa contexto e gera SQL
  Parser -->|SQL gerado| Executor[Camada de Execu√ß√£o SQL]
  subgraph Contexto
    Ctx[Mem√≥ria de Contexto]
    Parser -->|Consulta/depend√™ncia| Ctx
    Ctx -->|Dados de contexto| Parser
  end

  %% Execu√ß√£o contra o banco
  Executor -->|Query SQL| DB[(SQLite Database)]
  DB -->|Resultados| Executor

  %% Resultados retornam e s√£o exibidos
  Executor -->|DataFrame/JSON| UI
  UI -->|Mostra resposta| U

In [5]:
%pip install pandas
# Importa pacotes necess√°rios
import sqlite3           # para conex√£o com SQLite
import pandas as pd      # para manipula√ß√£o de tabelos retornados

# Conecta ao banco (arquivo .db deve estar na mesma pasta do notebook)
conn = sqlite3.connect('manutencao_industrial.db')
print("‚úÖ Conectado ao SQLite:", conn)

Requirement already satisfied: pandas in c:\users\basa0\miniconda3\envs\desafio_fiesc\lib\site-packages (2.3.0)
Requirement already satisfied: numpy>=1.22.4 in c:\users\basa0\miniconda3\envs\desafio_fiesc\lib\site-packages (from pandas) (2.2.6)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\basa0\miniconda3\envs\desafio_fiesc\lib\site-packages (from pandas) (2.9.0.post0)
Requirement already satisfied: pytz>=2020.1 in c:\users\basa0\miniconda3\envs\desafio_fiesc\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: tzdata>=2022.7 in c:\users\basa0\miniconda3\envs\desafio_fiesc\lib\site-packages (from pandas) (2025.2)
Requirement already satisfied: six>=1.5 in c:\users\basa0\miniconda3\envs\desafio_fiesc\lib\site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Note: you may need to restart the kernel to use updated packages.
‚úÖ Conectado ao SQLite: <sqlite3.Connection object at 0x000001A289949D40>

## Inspe√ß√£o da Estrutura do Banco de Dados

A c√©lula a seguir apresenta uma fun√ß√£o que lista todas as tabelas do banco e exibe, para cada uma, suas colunas, tipos de dados e indica√ß√µes de chave prim√°ria.  
Isso ajuda a entender rapidamente o schema dispon√≠vel antes de criarmos novas regras de mapeamento NL ‚Üí SQL.

In [6]:
def mostrar_schema(conn):
    """
    Exibe o schema completo do banco SQLite conectado em `conn`.
    
    Passos internos:
    1. Cria um cursor para executar comandos SQL.
    2. Consulta sqlite_master para listar todas as tabelas.
    3. Para cada tabela:
       a) Imprime o nome da tabela.
       b) Executa PRAGMA table_info para obter metadados de colunas.
       c) Converte o resultado em um DataFrame pandas para f√°cil visualiza√ß√£o.
       d) Ajusta os nomes das colunas do DataFrame para torn√°-las leg√≠veis.
       e) Exibe o DataFrame e adiciona uma linha em branco para separar sa√≠das.
    """
    cursor = conn.cursor()
    cursor.execute("SELECT name FROM sqlite_master WHERE type='table';")
    tabelas = [t[0] for t in cursor.fetchall()]
    for table in tabelas:
        print(f"üóÑÔ∏è Tabela: {table}")
        # PRAGMA table_info retorna a estrutura de colunas
        info = pd.read_sql(f"PRAGMA table_info({table});", conn)
        info.columns = ["cid", "nome_coluna", "tipo", "notnull", "dflt_value", "pk"]
        display(info)  # mostra o DataFrame com o schema
        print()       # linha em branco
mostrar_schema(conn)

üóÑÔ∏è Tabela: equipamentos

   cid     nome_coluna     tipo  notnull dflt_value  pk
0    0  id_equipamento  INTEGER        0       None   1
1    1            tipo     TEXT        0       None   0
2    2     localizacao     TEXT        0       None   0
3    3          status     TEXT        0       None   0

üóÑÔ∏è Tabela: ordens_manutencao

   cid      nome_coluna     tipo  notnull dflt_value  pk
0    0         id_ordem  INTEGER        0       None   1
1    1   id_equipamento  INTEGER        0       None   0
2    2    data_abertura     DATE        0       None   0
3    3   data_conclusao     DATE        0       None   0
4    4  tipo_manutencao     TEXT        0       None   0
5    5           status     TEXT        0       None   0

üóÑÔ∏è Tabela: tecnicos

   cid    nome_coluna     tipo  notnull dflt_value  pk
0    0     id_tecnico  INTEGER        0       None   1
1    1           nome     TEXT        0       None   0
2    2  especialidade     TEXT        0       None   0
3    3          turno     TEXT        0       None   0

üóÑÔ∏è Tabela: ordem_tecnico

   cid nome_coluna     tipo  notnull dflt_value  pk
0    0    id_ordem  INTEGER        0       None   1
1    1  id_tecnico  INTEGER        0       None   2

---
## Extens√£o do Parser: Novas Regras de Consulta

Na pr√≥xima c√©lula vamos ampliar a fun√ß√£o `nl_to_sql` para suportar consultas como:

1. **Ordens conclu√≠das** ‚Äî listar todas as ordens cujo status √© ‚Äúconclu√≠da‚Äù.  
2. **Ordens nos √∫ltimos N dias** ‚Äî filtrar ordens pela data de abertura nos √∫ltimos dias.  
3. **Contagem de t√©cnicos por especialidade** ‚Äî agrupar t√©cnicos por sua especialidade e contar quantos h√° em cada.  
4. **Hist√≥rico de uma ordem espec√≠fica** ‚Äî recuperar quais t√©cnicos trabalharam em uma determinada ordem.

Cada bloco de c√≥digo dentro da fun√ß√£o vir√° comentado, explicando:
- O padr√£o de linguagem natural que acionou a regra.
- A constru√ß√£o da query SQL correspondente.
---

In [8]:
import re
from datetime import datetime, timedelta

def nl_to_sql(query: str) -> str:
    """
    Converte uma pergunta em linguagem natural para uma query SQL.
    Adiciona m√∫ltiplas regras para diferentes inten√ß√µes.
    """
    q = query.lower()

    # 1) Equipamentos em manuten√ß√£o
    if 'equipamentos' in q and 'manuten√ß√£o' in q:
        return "SELECT * FROM equipamentos WHERE status LIKE '%manuten√ß√£o%'"

    # 2) Ordens abertas em um setor espec√≠fico
    if 'ordens abertas' in q:
        m = re.search(r'setor (\w+)', q)
        if m:
            setor = m.group(1).capitalize()
            return (
                "SELECT o.* "
                "FROM ordens_manutencao o "
                "JOIN equipamentos e ON o.id_equipamento = e.id_equipamento "
                f"WHERE o.status = 'aberta' AND e.localizacao = '{setor}'"
            )

    # 3) T√©cnicos de el√©trica no turno noturno
    if 't√©cnicos' in q and 'el√©trica' in q and 'noturno' in q:
        return "SELECT * FROM tecnicos WHERE especialidade = 'el√©trica' AND turno = 'noturno'"

    # 4) Tempo m√©dio de manuten√ß√£o corretiva das bombas
    if 'tempo m√©dio' in q and 'manuten√ß√£o corretiva' in q and 'bombas' in q:
        return (
            "SELECT AVG(julianday(data_conclusao) - julianday(data_abertura)) AS media_dias "
            "FROM ordens_manutencao o "
            "JOIN equipamentos e ON o.id_equipamento = e.id_equipamento "
            "WHERE tipo_manutencao = 'corretiva' AND e.tipo = 'Bomba'"
        )

    # 5) Ordens conclu√≠das
    # Ex.: ‚ÄúListe as ordens conclu√≠das‚Äù
    if 'ordens' in q and 'conclu√≠da' in q:
        return "SELECT * FROM ordens_manutencao WHERE status = 'conclu√≠da'"

    # 6) Ordens de manuten√ß√£o nos √∫ltimos N dias
    # Ex.: ‚ÄúQuais ordens foram abertas nos √∫ltimos 7 dias?‚Äù
    m = re.search(r'√∫ltimos (\d+) dias', q)
    if 'ordens' in q and m:
        dias = int(m.group(1))
        data_limite = (datetime.now() - timedelta(days=dias)).strftime('%Y-%m-%d')
        return (
            "SELECT * FROM ordens_manutencao "
            f"WHERE date(data_abertura) >= '{data_limite}'"
        )

    # 7) Contagem de t√©cnicos por especialidade
    # Ex.: ‚ÄúQuantos t√©cnicos existem por especialidade?‚Äù
    if 'quantos t√©cnicos' in q and 'especialidade' in q:
        return (
            "SELECT especialidade, COUNT(*) AS total_tecnicos "
            "FROM tecnicos "
            "GROUP BY especialidade"
        )

    # 8) Hist√≥rico de t√©cnicos de uma ordem
    # Ex.: ‚ÄúQuem trabalhou na ordem 3?‚Äù
    m = re.search(r'ordem (\d+)', q)
    if 'quem' in q and m:
        ordem_id = m.group(1)
        return (
            "SELECT t.* "
            "FROM tecnicos t "
            "JOIN ordem_tecnico ot ON t.id_tecnico = ot.id_tecnico "
            f"WHERE ot.id_ordem = {ordem_id}"
        )

    # Se nenhuma regra foi acionada:
    return ""

In [10]:
# Teste da fun√ß√£o (retorna a string SQL)
print(nl_to_sql("Quais equipamentos est√£o em manuten√ß√£o?"))

SELECT * FROM equipamentos WHERE status LIKE '%manuten√ß√£o%'

In [12]:
from IPython.display import display

def executar_query(nl: str):
    """
    Recebe uma pergunta em NL, gera SQL com nl_to_sql(),
    executa e exibe o DataFrame resultante.
    """
    sql = nl_to_sql(nl)
    if not sql:
        print(f"‚ùå N√£o consegui mapear a pergunta: ¬´{nl}¬ª")
        return
    print("üîç SQL gerado:\n", sql)
    df = pd.read_sql(sql, conn)
    display(df)

In [20]:
# 1) Ordens conclu√≠das
#executar_query("Liste as ordens conclu√≠das")

# 2) Ordens abertas nos √∫ltimos 7 dias
#executar_query("Quais ordens foram abertas nos √∫ltimos 7 dias?")

# 3) Quantos t√©cnicos existem por especialidade?
#executar_query("Quantos t√©cnicos existem por especialidade?")
# 4) Quem trabalhou na ordem 3?
#executar_query("Quem trabalhou na ordem 3?")

üîç SQL gerado:
 SELECT especialidade, COUNT(*) AS total_tecnicos FROM tecnicos GROUP BY especialidade

  especialidade  total_tecnicos
0      el√©trica               2
1    hidr√°ulica               2
2      mec√¢nica               2